clean-text==0.5.0
colorama==0.4.4
emoji==1.6.1
ftfy==6.0.3
joblib==1.1.0
numpy==1.21.4
PyMuPDF==1.19.2
rapidfuzz==1.8.3
scikit-learn==1.0.1
scipy==1.7.3
threadpoolctl==3.0.0
tqdm==4.62.3
wcwidth==0.2.5
